* {
  box-sizing: border-box;
}

html,
.body,
.root {
  margin: 0;
  min-height: 100vh;
}

html {
  background-color: var(--editor-background);
}

.root {
  align-items: center;
  display: flex;
  flex-direction: column;
}
